@charset "ISO-8859-1";

* {
  margin: 0
}

body{
background-image:url("../images/image2.jpg");
background-repeat: no-repeat;
background-size: 1920px 950px;
background-size:100%;
background-size: cover;
}
 	

.font{
	
	color: white;
	font-size: 18px;
}

.font1{
	
	font-family:cursive;
	color: black;
	text-align:center;
	font-size:30px;
}

.font2{
	
	color: rgb(0, 0, 0)79;
	font-size: 18px;
}

	
ul.menu{
	
	border: 3px solid purple;
	list-style-type:none;
	margin:0;
	padding:1px 1px 1px 1px;
	background-color:white;
	overflow:hidden;
	
}


li.menu{
	float:left;
	padding:1px 1px 1px 45px;
}


li a{
	display:block;
	color:black;
	text-align:center;
	padding:14px 13px;
	text-decoration:none;
	margin: 0px 0px 0px 0px;
}

li a:hover{
	background-color:brown;
	
}



.productData{
    background-color:white;
}

#tbl{
	margin-top:15px;
    margin-bottom:10px;
    margin-right:10px;
    margin-right:10px;
	
}


ul.unorder{
      list-style:square;	
}	



div.layout {
	margin: 8px 4px 4px 4px;

}

.registartion-form .submit {
  width: 100%;
  padding: 8px 0;
  font-size: 20px;
  color: rgb(44, 44, 44);
  background-color: #ffffff;
  border-radius: 5px;
}

.registartion-form .submit:hover {
  box-shadow: 3px 3px 6px rgb(255, 214, 176);
}
